body {
    background: #091540;
    height: 100vh;
    font-family: "roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
    padding: 20px;
    gap: 12px;
    border: 2px solid black;
}

.container img {
    width: 150px;
    height: 600px;
    flex: 0 0 100%;
    scroll-snap-align: center;
}